header.header
    .header__logo
        a.header__inicio(href="/")
            h1.header__heading Agencia de Viajes
                span Latinoamericanos
        img.header__img(src="/img/airplane-ticket.svg")
    nav.header__nav
        a.header__enlace(href="/nosotros") Nosotros
        a.header__enlace(href="/viajes") Viajes
        a.header__enlace(href="/comentarios") Comentarios
        a.header__enlace(href="/galeria") Galería
    nav.header__social
        a.header__media(href="") 
            img.header__media-img(src="/img/facebook.svg", alt="facebook")
        a.header__media(href="") 
            img.header__media-img(src="/img/instagram.svg", alt="instagram")
        a.header__media(href="") 
            img.header__media-img(src="/img/twitter.svg", alt="twitter")