extends ./layouts/index

block contenido
    .main
        .container
            h1 #{pagina}
            .nosotros__main
                .nostros__imagen
                    img(src="img/machu-pichu.jpeg", alt="Machu Pichu")
                .nosotros__texto
                    blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi sunt reprehenderit minima ut distinctio accusamus laborum suscipit rerum omnis sed nisi deleniti ipsum ea, sit consectetur tempore tempora porro vero aut. 
                        |Nam laboriosam natus harum beatae qui commodi deleniti ullam dolore, assumenda quis, omnis dolorem?
                        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quam libero nostrum, veniam deleniti sed delectus repellendus soluta? Nam reprehenderit itaque perferendis placeat debitis aut, vel impedit enim 
                        |at voluptate illo possimus est fugit recusandae nisi necessitatibus beatae consequatur iste aspernatur. Nulla omnis autem deleniti sequi iusto corrupti nisi quisquam dolorem exercitationem repellendus. Placeat, in.

                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet dolor id veniam voluptas temporibus assumenda quidem omnis neque delectus atque dolorum quaerat fugit in cumque quisquam natus aspernatur, necessitatibus 
                            |iure perferendis possimus ut blanditiis asperiores maxime? Architecto saepe repudiandae eius quia, adipisci optio animi asperiores culpa molestias ab sequi ducimus nesciunt ad libero officia. Expedita laboriosam magnam adipisci 
                            |accusantium numquam dolorem maxime illum doloribus? Reiciendis fugit fugiat quaerat sed repellat?
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit commodi dolor consequatur minus similique cum amet, provident cupiditate architecto voluptatum accusantium doloribus nulla, ea minima omnis consequuntur! Cumque 
                            |delectus voluptas veniam aut. Consequuntur perspiciatis architecto similique hic, aliquid odio, dicta possimus illum totam reiciendis fugit?
    script(src="js/app.js") 